* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 120vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
}

.nav-top {
    min-width:45vh;
    display: flex;
    justify-content: space-between;
    list-style: none;
}